body {
   background-image: linear-gradient(white, rgba(36, 186, 197, 0.603), rgb(252, 249, 249));
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    /* background-image: url("/bgImage1.jpg");
    background-position: center; */

}
#submit {
    margin-top: 10px;
    height: 20px;
    width: 120px;
    border: 10px;
    background-color: rgb(255, 255, 251);
    /* border-radius: 10px solid rgb(204, 8, 8); */
}
.w1 {
    float: left;
    padding-left: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
      background-color: white;  
     height: 1%;
    width: 400px; 
    overflow: auto;
    
    

}
 #fiaz {
    display: block;
    /* margin-top:60px; */
    /* color: rgb(6, 177, 43); */
} 
label {
    font-size: larger;

/ font-style:inline-size: ;;
font-weight: 100px; */
}
.w1 input {
    margin: 20px;
    height: 40px;
    width: 300px;
background-color: rgb(243, 243, 243);
}
 .w2 {
       background-color: #fdfffd;   

     margin-top: 50px;
     margin-bottom: 50px; 
     /* overflow: auto;  */
    margin-left: 900px;
    height: 550px;
    width: 450px;
    /* margin-right: 230px;
    float: right; */
    */
} */
/* #m1 {
    margin-left: 20px;
    padding-top: 10px ;
    padding-left: 0px;
    overflow: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:10px;
    width: 40px;
    color: rgb(117, 18, 18);
     /* background-color: aqua; 
    border: 3px solid yellow;
    border-radius: 19px; */
}  */

#j1 {
    display: flex;
    justify-content: center;
      background-color: rgb(160, 51, 51); 
} 
  h6 {
    font-size: larger;
    display:inline-block ;
    /* display: inline;  */
   /* float: right;
   margin-right: 370px; */
    color: rgb(6, 7, 8);
      padding-left: 80px; 

} 
#j1 p {
    /* background-color: #f5efed;  */
    margin-left: 440px;
    font-size: larger;
}
#root {
    
    position:fixed;
    display: flex;
    justify-content:space-between;
    bottom: 0px;
    height: 90px;
     width: 1597px;
    background-color: rgb(85, 84, 84);
}
#root p {
    display: flex;
    align-items: center;
    background-color:none;
}
#m1 {
    /* background-color: rgb(226, 22, 233); */
    margin-left: 120px;
    
    
}